<div class="row">
  <div class="col-md-3">
    <div class="sidebar-list">
      <div class="sidebar-item">

      </div>
    </div>
  </div>
  <div class="col-md-7 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mon profil
      </div>

      <div class="panel-body">
        <div class="container">
        </div>
      </div>
    </div>
  </div>
</div>